.productItem {
  @apply flex flex-col items-center cursor-pointer
  my-4 mx-4 w-[273px] h-[469px] bg-gray-50 ;

  .sectionFav {
    @apply text-2xl w-full text-white flex justify-center
    items-center;
    background: #766ED3;
    flex: 0 0 auto;
  }

  .sectionScreen {
    flex: 0 0 290px;

    .screen {
      @apply h-[290px] py-3.5;
    }
  }

  .sectionInfo {
    @apply flex flex-col items-center
    content-start justify-center h-[90px] pt-2
    text-center;

    .title {
      @apply font-bold
    }

    .characteristics {
      font-size: 10pt;

      .nameCharacteristics {
        @apply font-bold;
      }
    }
  }

  .sectionViews {
    @apply w-[110px] flex flex-col pb-2;

    .sectionViewsBlock {
      @apply flex flex-row justify-between;
    }
  }
}
