.autoPagination {
  height: 1px;
  width: 100%;
  bottom: 20px;
  position: relative;
  display: flex;
}

.productsViewRow {
  @apply flex flex-col items-center;
  // justify-evenly flex-wrap content-center;
}

.productsViewCol {
  @apply flex flex-wrap justify-center;
  // justify-evenly flex-wrap content-center;
}
