.block {
  @apply flex w-[90%] m-auto items-center border border-4 border-white p-2 mb-3;
  border-radius: 10px;
  box-shadow: 0 0 0 black, 0 0 0 black, 0 0 0 #000000, 0 0 4px #000000;
}

.blockScreen {
  @apply flex pl-2 justify-center;
  flex: 1 0 100px;
}

.image {
  @apply h-[100px];
}

.blockTitle {
  @apply flex pl-2 w-full;
}

.button {
  @apply bg-emerald-800 hover:bg-emerald-500 hover:text-white
  px-2 text-white h-[20px] w-[20px] flex items-end justify-center;
  border-radius: 6px;
}

.blockCount {
  @apply flex flex-col items-center;
  flex: 1 0 50px;
}

.blockButton {
  @apply flex;
  flex: 1 0 100px;
}

.link {
  @apply hover:opacity-80 px-2;
  &:hover {
    text-shadow: 0 0 0 black, 0 0 0 black, 0 0 10px #0bafee, 0 0 13px #000000;
  }
}