.viewProfile {
  @apply flex;
}

.sectionAvatar {
  @apply px-10 pt-20 justify-start flex flex-col items-center;
}

.button {
  @apply pt-3 w-[190px];
}

.sectionInfo {
  @apply w-full flex justify-center;
}

.avatar {
  @apply h-[200px];
}

@media only screen and (max-width: 992px) {
  .viewProfile {
    @apply flex-col;
  }
}