.viewProfile {
  @apply flex;
}

.viewProfileNotShowProfile {
  @apply p-14 m-3 bg-white border border-4 border-white
  p-2 mb-3;
  border-radius: 10px;
  box-shadow: 0 0 0 black, 0 0 0 black, 0 0 0 #000000, 0 0 4px #000000;
}

.sectionAvatar {
  @apply px-10 justify-start flex flex-col items-center;
}

.button {
  @apply w-[190px] pt-3;
}

.sectionInfo {
  @apply w-full flex justify-center;
}

.avatar {
  height: 200px;
}

@media only screen and (max-width: 992px) {
  .viewProfile {
    @apply flex-col;
  }
}