.productItem {
  @apply flex items-center my-4 bg-gray-50
  w-[90%] min-w-[490px] cursor-pointer;
}

.sectionFav {
  @apply text-2xl text-white h-[273px] flex justify-center items-center;
  background: #766ED3;
  flex: 0 0 auto;
}

.sectionScreen {
  flex: 0 0 200px;
}

.screen {
  @apply h-[273px] py-3.5;
}

.sectionInfo {
  @apply flex flex-col h-[273px] w-full items-start
  content-start justify-evenly pt-2 text-left flex-auto;
}

.title {
  @apply font-bold
}

.characteristics {
  font-size: 10pt;
}

.nameCharacteristics {
  @apply font-bold;
}

.sectionViews {
  @apply px-1 w-[200px];
}

.sectionViewsBlock {
  @apply my-2;
}
