.panel {
  @apply flex flex-row py-2 bg-white m-auto w-[90%];
  border-radius: 5px;
}

.viewProducts {
  @apply text-indigo-600 pl-4 hover:text-indigo-500;
}

.buttonSort {
  @apply px-2;
  margin: auto 0;
}

.iconView {
  @apply text-3xl;
}

//@media only screen and (max-width: 2005px) {
//  .panel {
//    @apply w-[1530px];
//  }
//}
//
//@media only screen and (max-width: 1005px) {
//  .panel {
//    @apply w-[625px];
//  }
//}
//
//@media only screen and (max-width: 905px) {
//  .panel {
//    @apply w-[525px];
//  }
//}
//
//@media only screen and (max-width: 805px) {
//  .panel {
//    @apply w-[490px];
//  }
//}