.panel {
  @apply flex flex-row py-2 bg-white w-[90%] m-auto;
  border-radius: 5px;
}

.viewProducts {
  @apply text-indigo-500 pl-4 hover:text-indigo-400;
}

.buttonSort {
  @apply px-2;
  margin: auto 0;
}

.sectionButtonChar {
  margin: auto 0;
}

.buttonChar {
  @apply bg-indigo-500 hover:bg-indigo-400 hover:text-white
  px-2 text-white h-[27px] flex items-center;
  border-radius: 6px;
}

.iconView {
  @apply text-3xl;
}

.panelFilter {
  @apply h-[70%] m-auto;
  border-radius: 15px 0 0 15px;
  box-shadow: 0 0 20px 0 #000000b8;
}

.backdrop {
  @apply bg-none overflow-auto;
  opacity: 0!important;
}