.block {
  @apply flex w-[90%] bg-white m-auto items-center border border-4 border-white p-2 mb-3;
  border-radius: 10px;
  box-shadow: 0 0 0 black, 0 0 0 black, 0 0 0 #000000, 0 0 4px #000000;
}

.id {
  @apply font-bold text-xl pr-3;
}

.info {
  @apply flex flex-col;
  flex: 1 0 115px;
}

.status {
  @apply text-indigo-600 flex flex-col;
}

.statusName {
  @apply text-xl;
}

.comment {
  @apply text-gray-700 text-xs flex flex-col;
}

.commentText {
  @apply text-sm;
}

.productsOverflow {
  @apply flex flex-col w-full items-center;
  min-width: 10%;
}

.products {
  @apply flex flex-row max-w-[95%] pb-1;
  flex: 1 0 auto;
  overflow-x: auto;
}

.blockImage {
  @apply flex;
}

.image {
  @apply flex h-[100px];
  max-width: inherit;
}

.count {
  @apply relative top-16 h-[30px] w-[15px] left-7 cursor-pointer font-serif font-bold text-2xl text-white;
  text-shadow: 0 0 10px red,0 0 20px red,0 0 30px red,0 0 40px red;
}

.price {
  @apply text-2xl flex flex-col items-end;
  flex: 1 0 0;
}

.priceName {
  @apply flex;
}

.priceColor {
  @apply text-red-700;
}