.searchForm {
  @apply flex w-[300px];
}

.resultSearch {
  @apply relative min-w-[360px] max-w-full;
}

.ul {
  @apply list-none absolute top-[15px]
  left-0 right-0 max-h-[200px] overflow-y-auto
  shadow-md bg-white;
}

.li {
  @apply py-1 px-4 flex items-center hover:bg-gray-500
  hover:text-white transition-colors cursor-pointer;
  border: 1px dotted #766ed32e;
}

.screen {
  @apply pr-2 w-[23px];
}

@media only screen and (max-width: 775px) {
  .searchForm {
    @apply w-[200px];
  }
  .resultSearch {
    @apply min-w-[260px];
  }
}