// Override default variables before the import

.body {
  @apply flex flex-col pt-[68px] w-full;
}

.paddingLeftShowMenu {
  @apply pl-[210px];
}

.paddingLeftHideMenu {
 padding-left: 0!important;
}

@media only screen and (max-width: 775px) {
  .body {
    @apply pl-[64px];
  }
}

.legend {
  @apply py-1 w-full flex flex-row justify-center items-center;
  flex-direction: row;
}

.btn-close-white {
  @apply bi bi-x-square text-xl text-gray-900;
  margin-top: -10px;
  filter: none;
}

.nav-link.active, .dropdown-item.active {
  //text-decoration: underline;
  background: #766ED3;
  color: #ffffff;
}

.sideBarLink {
  @apply py-3 pl-3 border-b px-4 text-black
  flex flex-row items-center m-1;
  border-radius: 10px;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

@media only screen and (max-width: 775px) {
  .sideBarLink {
    @apply pl-[15px];
  }
}

@media only screen and (max-width: 575px) {
  .modal-dialog {
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}

.sideBarLink:hover {
  background: #dedede;
}

.sideBarLink.active {
  background: #766ED3;
  color: #ffffff;
}

.modal-header .btn-close {
  background: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23000%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.App {
  @apply flex flex-col;
  background: #EBECEE;
}

::-webkit-scrollbar-button {
  width:6px;
  height:0;
}
::-webkit-scrollbar-track {
  background-color: #6c757d38;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow:0 0 1px rgba(255, 255, 255, 0.5) inset;
  background-color: rgb(179 179 179);
  background-position:center;
  background-repeat:no-repeat;
}
::-webkit-resizer{
  width:7px;
  height:0;
}
::-webkit-scrollbar{
  width: 4px;
  background-color: rgba(255, 255, 255, 0.31);
}

$theme-colors: (
        "info": tomato,
        "danger": teal
);

// Import Bootstrap and its default variables
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons';

@tailwind base;
@tailwind components;
@tailwind utilities;