// Override default variables before the import

.body {
  @apply flex flex-col pt-[68px] w-full;
}

.paddingLeftShowMenu {
  @apply pl-[210px];
}

.paddingLeftHideMenu {
 padding-left: 0!important;
}

@media only screen and (max-width: 775px) {
  .body {
    @apply pl-[64px];
  }
}

.legend {
  @apply py-1 w-full flex flex-row justify-center items-center;
  flex-direction: row;
}

.btn-close-white {
  @apply bi bi-x-square text-xl text-gray-900;
  margin-top: -10px;
  filter: none;
}

.nav-link.active, .dropdown-item.active {
  //text-decoration: underline;
  background: #766ED3;
  color: #ffffff;
}

.sideBarLink {
  @apply py-3 pl-3 border-b px-4 text-black flex flex-row items-center m-1;
  border-radius: 10px;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

@media only screen and (max-width: 775px) {
  .sideBarLink {
    @apply px-0;
  }
}

.sideBarLink:hover {
  background: #dedede;
}

.sideBarLink.active {
  background: #766ED3;
  color: #ffffff;
}

.App {
  @apply flex flex-col;
  background: #EBECEE;
}

$theme-colors: (
        "info": tomato,
        "danger": teal
);

// Import Bootstrap and its default variables
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons';

@tailwind base;
@tailwind components;
@tailwind utilities;