// Override default variables before the import

.body {
  padding-top: 70px;
  width: 100%;
  //padding-left: 80px;
  //margin: auto;
  //color: #fbfbfb;
}

.btn-close-white {
  @apply bi bi-x-square text-xl text-gray-900;
  margin-top: -10px;
  filter: none;
}

.nav-link.active, .dropdown-item.active {
  //text-decoration: underline;
  background: #766ED3 !important;
}

.App {
  background: #EBECEE;
  display: flex;
}

$theme-colors: (
        "info": tomato,
        "danger": teal
);

// Import Bootstrap and its default variables
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons';

@tailwind base;
@tailwind components;
@tailwind utilities;