// Override default variables before the import

.body {
  @apply flex flex-col pt-[68px] w-full pl-[204px];
}

@media only screen and (max-width: 775px) {
  .body {
    @apply pl-[64px];
  }
}

.legend {
  @apply py-1 w-full flex flex-row justify-center items-center;
  flex-direction: row;
}

.btn-close-white {
  @apply bi bi-x-square text-xl text-gray-900;
  margin-top: -10px;
  filter: none;
}

.nav-link.active, .dropdown-item.active {
  //text-decoration: underline;
  background: #766ED3 !important;
}

.App {
  @apply flex flex-col;
  background: #EBECEE;
}

$theme-colors: (
        "info": tomato,
        "danger": teal
);

// Import Bootstrap and its default variables
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons';

@tailwind base;
@tailwind components;
@tailwind utilities;