// Override default variables before the import

.body {
  padding-top: 60px;
  padding-left: 80px;
  margin: auto;
  //color: #fbfbfb;
}

.active {
  //text-decoration: underline;
  background: #766ED3 !important;
}

.App {
  background: #EBECEE;
  display: flex;
}

$theme-colors: (
        "info": tomato,
        "danger": teal
);

// Import Bootstrap and its default variables
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons';

@tailwind base;
@tailwind components;
@tailwind utilities;