//.header {
//  @apply flex items-center fixed top-0 left-0 right-0 z-50;
//}

.navbar {
  @apply z-50 fixed bg-gray-100 w-full h-[60px] flex
  items-center justify-between pl-4;
}

.toggleMenu {
  @apply hover:text-indigo-700 hover:opacity-80;
}

.hideLogo {
  @apply flex flex-row;
}

@media only screen and (max-width: 775px) {
  .toggleMenu {
      display: none;
  }
}

@media only screen and (max-width: 510px) {
  .hideLogo {
    display: none;
  }
}

.menuText {
  color: #ffcd39;
}

.menuItem {
  color: #fff;
  padding: 0 5px 0 10px;
  text-decoration: none;
}

.menuItem:hover {
  color: #ffcd39;
}

.dropMenu {
  position: absolute;
  transform: translate(-125px, 5px);
}

.btn {
  border: none!important;
}
.btn:focus {
  background: none!important;
  border: none!important;
  box-shadow: none!important;
}
.btn:hover {
  background: none!important;
  border: none!important;
}
.btn:active {
  box-shadow: none!important;
}


