.header {
  @apply flex items-center fixed top-0 left-0 right-0 z-50;

  .navbar {
    @apply flex items-center justify-between pl-8;
  }
}

@media only screen and (max-width: 775px) {
 .toggleMenu {
   display: none;
 }
}

@media only screen and (max-width: 510px) {
  .hide_logo {
    display: none;
  }
}

.menu_text {
  color: #ffcd39;
}

.menu_item {
  color: #fff;
  padding: 0 5px 0 10px;
  text-decoration: none;
}

.menu_item:hover {
  color: #ffcd39;
}

.drop_menu {
  position: absolute;
  transform: translate(-125px, 5px);
}

.btn {
  border: none!important;
}
.btn:focus {
  background: none!important;
  border: none!important;
  box-shadow: none!important;
}
.btn:hover {
  background: none!important;
  border: none!important;
}
.btn:active {
  box-shadow: none!important;
}


