.firstContainer {
  @apply flex w-full m-auto h-[495px]
  p-2 border shadow-md my-3 bg-white;
  border-radius: 10px;
}

.block {
  @apply flex flex-row w-full;
}

.blockScreen {
  @apply flex justify-start pt-4;
  flex: 1 0 28%;
}

.blockInfo {
  @apply flex flex-col;
  flex: 1 0 50%;
}

.blockStat {
  @apply flex justify-evenly py-2 w-[100%] m-auto;
}

.sectionViews {
  @apply m-0;
}

.blockTitle {
  @apply pt-4 flex w-[90%] m-auto
  text-xl font-bold;
}

.blockGeneralCharacteristics {
  @apply pt-4 flex flex-col m-auto
  w-[90%] h-[155px] justify-between;
}

.characteristics {
  font-size: 10pt;
}

.nameCharacteristics {
  @apply font-bold;
}

.blockPrice {
  @apply pt-4 flex m-auto w-[90%];
}

@media only screen and (max-width: 1050px) {
  .firstContainer {
    @apply h-[1000px]
  }
  .block {
   @apply flex-col;
  }
  .blockScreen {
    @apply justify-center flex-none h-[50%];
  }
}