.sideMenu {
  height: 100%;
  //padding-top: 100px;
  //float: left;
  //align-items: center;
  //position: fixed;
}

.link_flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

@media only screen and (max-width: 735px) {
  .name_page {
    display: none;
  }
}