.sideMenuHead {
  @apply fixed z-30 grid w-[210px] h-full content-center
  justify-center bg-gray-50 text-gray-600 pb-[100px];
}

.sideMenuBody {
  @apply top-[30%] relative w-[210px];
}

.icon {
  @apply text-2xl pr-1.5;
}



.nav_link {
  @apply text-gray-800 py-3 border-b rounded-none;
}

.link_flex {
  @apply flex items-center justify-start flex-row;
}

@media only screen and (max-width: 775px) {
  .icon {
    @apply m-auto pr-0;
  }
  .name_page {
    display: none;
  }
  .sideMenuHead {
    @apply w-[63px];
  }
  .sideMenuBody {
    @apply w-[63px];
  }
}