.sideMenu {
  @apply fixed z-10 grid w-[204px] h-full content-center
  justify-center bg-gray-50 text-gray-600 pb-[100px];
}

.nav_link {
  @apply text-gray-800 py-3 border-b rounded-none;
}

.link_flex {
  @apply flex items-center justify-start flex-row;
  :hover {
    filter: drop-shadow(3px 3px 5px #4e03d5);
  }
}

@media only screen and (max-width: 775px) {
  .name_page {
    display: none;
  }
  .sideMenu {
    @apply w-[63px];
  }
}